<div class="container"><br>
	<center>
		<h3>
			Salida de vehiculo
		</h3>
	</center>
	<br>
	<center>
		<label>
			Placa
		</label>
		<div class="col-md-4">			
			<input class="form-control" type="text" id="placa_vehiculo">
		</div>
		<br>
		<div class="col-md-4">	
			<button onclick="salida_vehiculo();">
				Salida
			</button>
		</div>
	</center>
	<br><br>

	<div class="col-md-10" id="resultado_salida">	
	</div>

</div>